<% if user_signed_in? %>
  <div class="full-page-background text-white">
    <div class="overlay"></div>

    <div class="content container py-5 position-relative">
      <div class="d-flex justify-content-end mb-4 pe-0">
        <%= link_to "Add new car!", new_car_path(@empty_car), class:"btn my-custom-btn" %>
      </div>

      <div class="banner text-center mb-4">
        <h1 class="display-4 fw-bold">Available Cars – Find your next ride!</h1>
      </div>

      <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
        <%= form_with url: cars_path, method: :get, local: true, class: "search" do %>
          <div class="search-form-control form-group">
            <%= text_field_tag "search[query]", params.dig(:search, :query), class: "form-control string required", id: "search_query" %>
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i> Search
            </button>
          </div>
        <% end %>
      </form>

      <div class="row">
        <% @cars.each do |car| %>
          <div class="col-3 d-flex align-items-stretch">
            <div class="card mb-4" style="width: 19rem;">
              <%= image_tag('logo.png', class: "card-img-top", alt: "#{car[:make]} image") %>
              <div class="card-body">
                <h5 class="card-title">model: <%= car[:model] %></h5>
                <p class="bold">make: <%= car[:make] %></p>
                <p class="card-text"><%= car[:description].scan(/\b\w+\b/)[0, 5].join(" ") %>...</p>
                <%= link_to "show", car_path(car) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<% else %>
  <%= link_to "login", new_user_session_path(@user), class: "btn btn-primary" %>
  <%= link_to "sign_up", new_user_registration_path(@user), class: "btn btn-primary" %>
<% end %>
